.App {
  text-align: center;
  /* background-color: "#5cdb95"; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#paper {
  align-content: center;
  background-color: #edf5e1;
  height: 100%;
  margin-top: 10%;
  /* color: white; */
}

.vl {
  border-left: 6px solid green;
  height: 380px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 150px;
}

.image {
  height: 400px;
  margin-top: 3%;
  margin-left: 27%;
}
.login-image {
  height: 400px;
  margin-top: 3%;
  float: left;
  /* margin-right: 55%; */
}

.form-group {
  margin-left: 50%;
  width: 100%;
}

#text-field {
  /* margin-top: 5%; */
  padding: 0.5em;
  padding-bottom: 10px;
}

#text-field2 {
  margin-top: 15%;
  padding: 0.5em;
  padding-bottom: 10px;
}

#registerButton {
  margin-top: 20%;
}

#footer-div {
  /* top: 100px; */
  margin-top: 50%;
}

#navAlign {
  /* float: left; */
  justify-content: flex-end;
}

@media only screen and (max-width: 400px) {
  #ButtonGrid {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  #toolBar {
    display: none;
  }
}

#centerButton {
  margin-top: 3%;
  margin-left: 15%;
  text-decoration: none;
  color: black;
}

/* #toolBar {
  float: left;
} */
